:root {
  --scale-amount: .4;
}

/* Keep it simple */
* {
  padding: 0px;
  margin: 0px;
}

/* prevent scrolling */
body {
  overflow: hidden;
}

a:link, a:visited{color: #fff; text-decoration: underline #0000 0px}

/* objects are placed relative to screen origin */
.obj {
  position: absolute;
}

/* properties of different types of objects */

.clouds1 .clouds2 .bgGrass1 .bgGrass2 .fgGrass1 .fgGrass2 {
  transform: translate(0px);
}

/*appearance of the pause button */
.pause
{
  background:#e56400; 
  /* position:relative; */
  height:22px;
  width:22px;
  border:2px solid #5c4600;
  border-bottom:4px solid #542801;
  box-shadow: 1px 1px 1px white inset;
}

/*Appearance of the button after the game  */
.pause:after, .pause:before {
  content:'';
  position: absolute;
  background:#fff;
  width:4.5px;
  height:15px;
  margin-left:5px;
  margin-top:4px;
  border-bottom:1px solid #ad4007;
}
.pause:before {
  margin-left:12px;
}

.settings
{
  background:#e56400;
  top: 42px;
  height:22px;
  width:22px;
  border:2px solid #5c4600;
  border-bottom:4px solid #542801;
  box-shadow: 1px 1px 1px white inset;
}

.play
{
  background:#e56400;
  position:relative;
  top: 72px;
  height:22px;
  width:22px;
  border:2px solid #5c4600;
  border-bottom:4px solid #542801;
  box-shadow: 1px 1px 1px white inset;
}


/* Fix icon position */
ion-icon {
  transform: translate(0px, 1.7px);
}

 